.form-group {
    margin-bottom: 15px;
  }
  
  .help {
    display: none;
    font-size: 0.75rem;
    color: #b7b7b7; /* gris clair */
    margin-top: 4px;
  }
  
  /* 👉 le texte d'aide apparaît quand l'input est focus */
  .form-group input:focus + .help {
    display: block;
  }