body { 
    background-color: #0D1B2A;
    color: white;
    padding: 2rem;
}

/* CSS header */

h1 {
    color: white;
    font-size: 3rem;
    font-family: "Fascinate Inline", system-ui;
}

span{
    color :#D72638;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.title {
    display:flex;
    justify-content: flex-start;
}

.navigation__header {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

.navigation__header-link {
    color: white;
    text-decoration: none;
}

.buttons__header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.registration, .login, .action, .recipe {
    color: white;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 1rem;
    border-color: darkgoldenrod;
}

.registration, .recipe {
    background-color: #D72638;
}

.login, .action {
    background-color: #C6A664;
}

/* CSS main */

/* section welcome */

.welcome {
    /*background-color: rgb(233, 177, 144);   */
    background-image: url("../public/images/coffees/salle.png"); 
    background-size: cover;         /* L’image couvre toute la section */
    background-position: center;    /* Centrage de l’image */
    background-repeat: no-repeat;   /* Pas de répétition */
    min-height: 30vh; /* ou autre valeur selon ton besoin */
    padding-bottom: 3rem;
  }

h2 {
    color: white;
    font-size: 2rem;
    font-family: "Fascinate Inline", system-ui;
}

/* section recipe__of__the__day */

